.hero {
  padding-top: 120px;

  @include breakpoint(md) {
    padding-top: 130px;
  }

  h1 {
    @include breakpoint(lg) {
      br {
        display: none;
      }
    }
  }

  &__logo {
    margin-bottom: 70px;
  }

  &__cta {
    @include flexBox;
    flex-direction: column;
    @include breakpoint(md) {
      display: block;
    }
    button:first-child {
      margin-bottom: 20px;
      @include breakpoint(md) {
        margin-right: 16px;
        margin-bottom: 0px;
      }
    }
  }
}
