.logos {
  &__container {
    @include breakpoint(lg) {
      display: flex;
      justify-content: space-between;
    }

    .logo {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;

      @include breakpoint(lg) {
        margin-bottom: 0px;
      }
    }
  }
}
